{
  "anki": {
    "username": "test",
    "password": "test",
    "beeminder": {
      "goal": "test"
    }
  },
  "goodreads": {
    "userId": "test",
    "beeminder": {
      "goal": "test"
    }
  },
  "goodreadsPages": {
    "userId": "test",
    "email": "test",
    "password": "test",
    "beeminder": {
      "goal": "test"
    }
  },
  "github": {
    "apiKey": "",
    "beeminder": {
      "goal": "test"
    }
  },
  "beeminder": {
    "user": "test",
    "authToken": ""
  },
  "memrise": {
    "username": "test",
    "beeminder": {
      "goal": ""
    }
  },
  "urgency": {
    "goal": ""
  }
}
